<meta charset="utf-8" />

<h1 id="hiroki-shirokura">Hiroki SHIROKURA</h1>
<p><a href="./ja.html">Japanese Version is Here</a></p>
<p>I&#39;m interested in High Performance Networking.
Now, I reseach that how to exploit low-latency and high-throughput networking
with Software (e.g. DPDK) and Comodity hardwares.
I&#39;m a 4th grader of the science and engineering department and join
Network-Security-Lab of HU.</p>
<ul>
<li>Fullname: Hiroki SHIROKURA</li>
<li>Handlename: slankdev</li>
<li>Countory: Japan</li>
<li>Age     : 22 (B4)</li>
<li>Email   : slank.dev [at] gmail.com</li>
</ul>
<p>I also join the following events.</p>
<ul>
<li>Contributing DPDK</li>
<li>IIJ-II Part time Job (Researching about Packet Processing)</li>
<li>Cybozu Labs Youth</li>
<li>IPA Security Camp (Tutor)</li>
</ul>
<h2 id="research-topics">Research Topics</h2>
<ul>
<li>HPN (High Performance Netwoking) with Software<ul>
<li>Dynamic Auto tuning of DPDK</li>
<li>Exploit library that is friendly DPDK</li>
</ul>
</li>
</ul>
<h2 id="sns">SNS</h2>
<ul>
<li><a href="https://github.com/slankdev">GitHub</a></li>
<li><a href="http://slankdev.hatenablog.com">Blog</a></li>
<li><a href="http://slideshare.net/slankdev">Slideshare</a></li>
<li><a href="https://twitter.com/slankdev">Twitter</a></li>
<li><a href="https://facebook.com/hiroki.shirokura">Facebook</a></li>
</ul>
<h2 id="development">Development</h2>
<ul>
<li><a href="http://github.com/slankdev/cuishark">Cuishark: </a>
a protocol analyzer like a wireshark on CUI/TUI</li>
<li><a href="http://libpgen.org">LibPGEN: </a>
extensible packet analyze library in C++11</li>
<li><a href="https://github.com/slankdev/stcp">STCP: </a>
network stack using DPDK</li>
</ul>
<h2 id="publications">Publications</h2>
<ul>
<li>High Performance Network stack using DPDK, Anual Report in CybozuLabYouth
<a href="https://www.slideshare.net/slankdev/dpdk-74027268">link</a></li>
<li>High Performance Networking with DPDK &amp; Multi/Many Core
<a href="https://www.slideshare.net/slankdev/high-performance-networking-with-dpdk-multimany-core">link</a></li>
<li>Offloading BPF Implementation to FPGA-NIC (propose)
<a href="https://www.slideshare.net/slankdev/offloading-bpf-implementation-to-fpganic">link</a></li>
<li>Anual Report in Seccamp2017 as Tutor
<a href="https://www.slideshare.net/slankdev/seccamp-2016">link</a></li>
<li>LibPGEN: Extensible Packet analyze Library, Anual Report in CybozuLabYouth
<a href="https://www.slideshare.net/slankdev/ss-60291523">link</a></li>
<li>Development Packet Analyze Library in Security-Camp-Award 2016 (award of excellence)
<a href="https://www.slideshare.net/slankdev/seurity-camp-award-2016">link</a></li>
</ul>
<p>Some another slides. please see my <a href="http://slideshare.net/slankdev">slideshare</a>.</p>
<h2 id="lectures">Lectures</h2>
<ul>
<li>2017 Open Source Conference Hokkado (will)</li>
<li>2016 Open Source Conference Tokyo/Spring</li>
<li>2016 Open Source Conference Hokkaido</li>
<li>2016 IPA Security Camp</li>
</ul>
<h2 id="activity">Activity</h2>
<ul>
<li>2015 IPA Security Camp</li>
<li>2015 Open Source Conference Tokyo/Fall Show</li>
<li>2016 Open Source Conference Tokyo/Spring Lecture</li>
<li>2016 Open Source Conference Hokkaido Lecture</li>
<li>2016 IPA Security Camp Tutor</li>
<li>2016 Cybozu Labs Youth</li>
</ul>
<p>Last update 2017.5.5</p>
<p>Copyright &copy; 2017-2020 Hiroki SHIROKURA All Rights Reserved.</p>
